# Imports

In [2]:
import pandas as pd
import MySQLdb
import sshtunnel

# Please don't alter SQL code below to maintain db integrity

In [3]:
sshtunnel.SSH_TIMEOUT = 5.0
sshtunnel.TUNNEL_TIMEOUT = 5.0

with sshtunnel.SSHTunnelForwarder(
    ('ssh.pythonanywhere.com'),
    ssh_username='jdmoore7', ssh_password='Py.Coder77$$',
    remote_bind_address=('jdmoore7.mysql.pythonanywhere-services.com', 3306)
) as tunnel:
    connection = MySQLdb.connect(
        user='jdmoore7', password='password13',
        host='127.0.0.1', port=tunnel.local_bind_port,
        database='jdmoore7$default',
    )
    c = connection.cursor()
    c.execute("SELECT * FROM tweets")
    connection.close()

rows = c.fetchall()
twid = []
content = []
date = []
usid = []
followers = []
retweet = []
for eachRow in rows:

    twid.append(eachRow[0])
    content.append(eachRow[1])
    date.append(eachRow[2])
    usid.append(eachRow[3])
    followers.append(eachRow[4])
    retweet.append(eachRow[5])
    
d = {'tweet_id':twid, 'tweet':content, 'date':date, 'user_id':usid, 'follower_count':followers, 'retweet_count':retweet}
df = pd.DataFrame(d)

df.drop(df.index[0], inplace=True)

df['date'] = pd.to_datetime(df['date'])

cities = ["Atlanta", "Austin", "Boston", "Chicago", "Columbus", "Dallas", "Denver", "Indianapolis", "Los Angeles", 
"Miami", " Montgomery", "Nashville", "Newark", "New York", 'nyc', "Virginia", "Philadelphia", "Pittsburgh", "Raleigh", 
"Toronto", "dc", "D.C.", "Arlington"]

def city(text):
    for city in cities:
        locations = []
        if city.lower() in text.lower():
            locations.append(city)
            return locations[0]

df['location'] = df['tweet'].apply(city)

def alt(text):
    locations = []
    for city in cities:
        if city.lower() in text.lower():
            locations.append(city)
            if len(locations)>1:
                return locations[1]

df['alt_location'] = df['tweet'].apply(alt)


def rt(text):
    if 'RT' in text:
        return True
    else:
        return False

df['is_retweet'] = df['tweet'].apply(rt)

df[['follower_count', 'retweet_count']] = df[['follower_count', 'retweet_count']].astype(int)

df.sort_values(['date'],ascending=False, inplace=True)

# Number of tweets by city

In [4]:
print('Primary city mentions: ')
print(df['location'].value_counts(),'\n')
print('Secondary city mentions: ')
print(df['alt_location'].value_counts(),'\n')

Primary city mentions:
dc              83
Dallas          45
Chicago         44
Virginia        44
Boston          26
Toronto         19
New York        19
Pittsburgh      16
Newark          16
Austin          15
Atlanta         14
Arlington       13
Columbus        13
Miami           13
D.C.            12
Denver           8
nyc              8
Raleigh          4
Los Angeles      2
 Montgomery      2
Philadelphia     2
Nashville        1
Indianapolis     1
Name: location, dtype: int64

Secondary city mentions:
D.C.          22
Virginia      21
dc            13
Arlington     10
nyc            8
New York       5
Miami          4
Newark         3
Toronto        3
Dallas         2
Pittsburgh     1
Nashville      1
Austin         1
Name: alt_location, dtype: int64

# tweets by date

In [ ]:
df['date'].value_counts().plot()