In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
googFile = "/users/nirmalanawale/nirmi/myworkspace/python/data/goog.csv"
spFile = "/users/nirmalanawale/nirmi/myworkspace/python/data/sp_500.csv"

In [3]:
goog = pd.read_csv(googFile, sep = ",", usecols =[0,6], names = ["Date", "Goog"], header = 0)

In [5]:
sp = pd.read_csv(spFile, sep = ",", usecols =[0,6], names = ["Date", "SP500"], header = 0)

In [6]:
goog['SP500'] = sp['SP500']

In [7]:
goog.head(5)

         Date     Goog       SP500
0  2018-07-27  2130600  3415710000
1  2018-07-30  1849900  3245770000
2  2018-07-31  1644700  3892100000
3  2018-08-01  1567200  3496990000
4  2018-08-02  1531300  3467380000

In [9]:
goog['Date'] = pd.to_datetime(goog['Date'], format = '%Y-%m-%d')

In [10]:
goog.head(5)

        Date     Goog       SP500
0 2018-07-27  2130600  3415710000
1 2018-07-30  1849900  3245770000
2 2018-07-31  1644700  3892100000
3 2018-08-01  1567200  3496990000
4 2018-08-02  1531300  3467380000

In [13]:
goog = goog.sort_values(['Date'], ascending=[True])

In [14]:
goog.head(5)

        Date     Goog       SP500
0 2018-07-27  2130600  3415710000
1 2018-07-30  1849900  3245770000
2 2018-07-31  1644700  3892100000
3 2018-08-01  1567200  3496990000
4 2018-08-02  1531300  3467380000

In [17]:
dict(goog.dtypes)

{'Date': dtype('<M8[ns]'), 'Goog': dtype('int64'), 'SP500': dtype('int64')}

In [18]:
[key for key in dict(goog.dtypes) if dict(goog.dtypes)[key] in ['int64', 'float64']]

['Goog', 'SP500']

In [20]:
returns = goog[[key for key in dict(goog.dtypes) if dict(goog.dtypes)[key] in ['int64', 'float64']]].pct_change()

In [21]:
returns['Date'] = goog['Date']

In [22]:
returns['Intercept'] = 1

In [23]:
returns.head(5)

       Goog     SP500       Date  Intercept
0       NaN       NaN 2018-07-27          1
1 -0.131747 -0.049752 2018-07-30          1
2 -0.110925  0.199130 2018-07-31          1
3 -0.047121 -0.101516 2018-08-01          1
4 -0.022907 -0.008467 2018-08-02          1

In [25]:
xData = np.array(returns[['Goog', 'SP500', 'Intercept']][1:-1])

In [26]:
yData = (returns["Goog"] > 0)[2:]

2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10     True
11    False
12     True
13     True
14    False
15     True
16    False
17     True
18    False
19     True
20    False
21     True
Name: Goog, dtype: bool

In [30]:
logit = sm.Logit(yData, xData)

In [32]:
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.623895
         Iterations 6

In [33]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Goog   No. Observations:                   63
Model:                          Logit   Df Residuals:                       60
Method:                           MLE   Df Model:                            2
Date:                Fri, 16 Nov 2018   Pseudo R-squ.:                 0.09844
Time:                        21:54:56   Log-Likelihood:                -39.305
converged:                       True   LL-Null:                       -43.597
                                        LLR p-value:                   0.01368
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -2.9019      1.156     -2.511      0.012      -5.167      -0.637
x2             5.2513      3.178      1.652      0.098      -0.978      11.480
const          0.2053      0.271      0.757      0.449      -0.326       0.737
==============================================================================
"""

In [34]:
result.predict(xData)

array([0.58086944, 0.82819306, 0.45238059, 0.55658223, 0.59399918,
       0.48906766, 0.40751592, 0.53224298, 0.81103449, 0.41226642,
       0.60875432, 0.2179469 , 0.586389  , 0.58983368, 0.44664185,
       0.69195862, 0.4631378 , 0.55173654, 0.47722081, 0.52796881,
       0.52100495, 0.38229806, 0.60571156, 0.53795066, 0.33059798,
       0.63199238, 0.53008944, 0.5704914 , 0.65262157, 0.60213692,
       0.57064604, 0.65924878, 0.47134234, 0.73565905, 0.22341338,
       0.65922069, 0.64234071, 0.56276273, 0.02008775, 0.54404585,
       0.67697066, 0.2557479 , 0.52428679, 0.63803123, 0.53728835,
       0.39128893, 0.7775285 , 0.10475194, 0.78577653, 0.16442507,
       0.8087308 , 0.20376036, 0.58980309, 0.51166719, 0.58181009,
       0.31722245, 0.67614278, 0.36135905, 0.78218037, 0.32276133,
       0.7716948 , 0.60612149, 0.33124779])

In [36]:
zip(yData, result.predict(xData) > 0.5) # gives true false values